$color-white: white;
$color-white-near: #f0f0f0;
$color-black: black;
$color-black-near: #1c2b33;
$color-black-background: #152126;
$color-black-mid: #333333;
$color-black-accent: #2b414c;
$color-grey-darker: #666666;
$color-grey-dark: #999999;
$color-grey-mid: #b9b9b9;
$color-grey-mid-alt: #cccccc;
$color-grey-light: #ced5d9;
$color-blue-primary: #0091da;
$color-blue-primary-alt: #006699;
$color-blue-dark: #46608d;
$color-blue-very-dark: #010c56;
$color-red: #c80000;
$color-red-dark: #b74646;
$color-green: #80f692;
$color-green-dark: #43b02a;
$color-yellow: #f6f280;
$color-yellow-dark: #ccce13;
$color-orange: #eaaa00;

$font-kpmg: "KPMGLight", Arial;