@import "../../../shared/scss/_variables";

:host-context {

    .root-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }
}
